.member-3W1lQa:hover {
  transform: translateX(-10px) !important;
  transition: 0.2s !important;
}

.member-3W1lQa:not(:hover) {
  transform: translateX(10px) !important;
  transition: 0.2s !important;
}
