.scroller-2FKFPG::-webkit-scrollbar-thumb {
  border:none !important;
  background: linear-gradient(0deg, rgba(0,0,0,0), var(--tc-scrollbar), rgba(0,0,0,0)) !important;
}
.scroller-2FKFPG::-webkit-scrollbar-track {
  background: linear-gradient(0deg, var(--tc-scrollbar-a) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, var(--tc-scrollbar-a) 100%) !important;
}
.scroller-2FKFPG::-webkit-scrollbar {
  width: 7px !important;
}
.scroller-2FKFPG::-webkit-scrollbar-track-piece {
  border: none !important;
  background: transparent !important;
}
